.form-wrapper {
  min-height: 100vh;
  background: #f9faef;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}

.form-card {
  background: #fff;
  padding: 25px 35px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.08);
  max-width: 650px;
  width: 100%;
  text-align: center;
}

.form-card h1 {
  color: #6eb43f;
  font-weight: bold;
  margin-bottom: 15px;
}

form label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  color: #444;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

textarea {
  min-height: 100px;
}

.add-ing-btn {
  margin-top: 8px;
  border: none;
  background: #6eb43f;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.save-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #6eb43f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background: #52962f;
}

.preview-img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  margin-top: 10px;
  border: 2px solid #6eb43f;
}

.close-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 28px;
  cursor: pointer;
  color: #444;
}
